@media only screen and (min-width:700px) {
    header nav ul {
        display: inline-block;
        /* z-index: 100; */
    }

    header nav {
        align-self: center;
        text-align: left;
    }

    .mobileBtn {
        display: none;
    }
}